.footer {
  display: flex;
  justify-content: space-between;
  height: 111px;
  align-items: center;
  font-family: Montserrat, sans-serif;
  margin-top: auto;
}

.footer__text {
  font-size: 14px;
  margin: 0;
  align-self: baseline;
}

.footer__contact {
  display: flex;
  gap: 40px;
}

.footer__write_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.footer__email-link {
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.footer__follow-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer__follow-text,
.footer__email-text {
  font-weight: bold;
  font-size: 14px;
}

.footer__follow-section_github-button {
  background-image: url("../../../assets/images/github-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.footer__follow-section_linkedin-button {
  background-image: url("../../../assets/images/linked_in_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .footer {
    margin-top: 10px;
    flex-direction: column-reverse;
    height: auto;
    gap: 30px;
  }

  .footer__text {
    font-size: 12px;
    margin: 10px 0;
  }

  .footer__follow-text,
  .footer__email-text {
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0;
  }

  .footer__contact {
    gap: 120px;
    margin-top: 20px;
  }
}
