.nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav__link {
  color: #9cbbff;
  text-decoration: none;
  font-size: 22px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: right;
  word-wrap: break-word;
  white-space: normal;
}

.nav__link_active {
  color: #437dff;
  pointer-events: none;
}

.nav_open {
  transform: translateX(0);
  opacity: 1;
}

.nav_closed {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}
