.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  max-width: 600px;
  min-height: 40px;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  white-space: normal;
  padding: 5px 10px;
}

.nav__link_active {
  color: #437dff;
  pointer-events: none;
}

.nav__link:hover {
  color: #437dff;
}
