.projects {
  background-color: white;
  padding: 20px;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  border-radius: 10px;
}

.projects__title {
  text-align: center;
  margin: 0;
}

.projects__description {
  text-align: center;
  margin: 20px 0 20px;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
}
