.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Montserrat, sans-serif;
  background-color: white;
}

.contact__form_container {
  width: 400px;
  height: auto;
  padding: 20px;
}

.contact__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__field {
  margin-bottom: 20px;
  width: 100%;
}

.contact__label {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}

.contact__input {
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  height: auto;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: left;
  color: rgba(0, 0, 0, 1);
  cursor: text;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
}

.contact__textarea {
  display: block;
  height: 100px;
  resize: none;
  padding: 10px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
}

.contact__error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.contact__button {
  background: #437dff;
  width: 100%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

.contact__button:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 750px) {
  .contact__form_container {
    width: 280px;
    height: auto;
    padding: 20px;
  }
}
